/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #f0ee5a, #4caf50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: gradientAnimation 10s ease infinite;
    }
    
    @keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }
    
  /* Success Message */
    .success-message {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    animation: messageAnimation 1s ease-in-out;
    }
    
    @keyframes messageAnimation {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
    }
    
    h2 {
    color: #4caf50;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #333;
    }
    
  /* Button */
    .button {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    border-radius: 5px;
    background: linear-gradient(to bottom right, #f0ee5a, #4caf50);
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    animation: buttonAnimation 1s ease-in-out infinite alternate;
    }
    
    @keyframes buttonAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
    }
    
    .button:hover {
    background-color: #388e3c;
    }